@{
    ViewData["Title"] = "Cadastro Desenvolvedor";
    List<Business.Report.Level> levels = ViewBag.Listas;
}

@model Database.Developer;

<!DOCTYPE html>
<html>
<head>
    <title>Cadastro Desenvolvedor</title>
    <link rel="stylesheet" type="text/css" href="~/css/Reset.css">
    <link rel="stylesheet" type="text/css" href="~/css/Style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body class="body">

    <header>
        <h1 class="titulo-pagina">Cadastro Desenvolvedor</h1>
    </header>

    <form class="form" asp-action="SalvarDeveloper" method="post">
        <div>
            <label for="nome" class="label">Nome:</label>
            <input type="text" asp-action="nome" id="nome" name="nome" class="input-padrao" required asp-for="@Model.Nome" />

            <label for="email" class="label">Email:</label>
            <input type="email" id="email" class="input-padrao" required asp-for="@Model.Email" />

            <label> 1 - Junior </label>
            <label> 3 - Pleno </label>
            <label> 4 - Senior </label>
            <fieldset>
                <legend for="levelid" class="label">Selecione o nível</legend>
                <select id="levelid" class="fieldset-select" asp-for="@Model.LevelID">
                    @foreach (var item in levels)
                    {
                        <option>@item.Id</option>
                    }
                </select>
            </fieldset>

            <label for="horasTrab" class="label">Horas trabalhadas no mês:</label>
            <input type="number" id="horasTrab" class="input-padrao" required placeholder="100" asp-for="@Model.HorasTrab" />

            <input type="submit" value="Salvar" class="salvar" />
        </div>
    </form>
</body>
</html>

