@{
    ViewData["Title"] = "Home Page";
    List<Database.Developer> developers = ViewBag.Relatorio;
}
@model Business.Report.RelatorioFuncionarioBusiness;

<!DOCTYPE html>
<html>
<head>
    <title>Relatório</title>

    <link rel="stylesheet" type="text/css" href="~/css/Reset.css">
    <link rel="stylesheet" type="text/css" href="~/css/Style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>
<body class="body">



    <header>
        <h1 class="titulo-pagina">Relatório</h1>

        <div>

            <table class="table">
                <tr>
                    <th>DataCadastro</th>
                    <th>Status</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>LevelID</th>
                    <th>HorasTrab</th>
                    <th>Salário</th>
                </tr>
                @foreach (var dev in developers)
                {
                    <tr>
                        <td>@dev.DataCadastro</td>
                        <td>@dev.Status</td>
                        <td>@dev.Nome</td>
                        <td>@dev.Email</td>
                        <td>@dev.LevelID</td>
                        <td>@dev.HorasTrab</td>
                    </tr>

                }
            </table>


        </div>

    </header>

</body>
</html>